html,
body {
	width:100%;
	margin: 0;
	padding: 0;
	font-family: 'Catamaran', sans-serif;
}

body {
		position: relative;

}

h1 {
	font-size: 40px; color: #103554;
}

h2 {
	font-size: 40px; color: #103554;
}

h4 {
	font-size: 14px

}

.wrapper {
	width: 100%;
	min-height: 100vh;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.content-panel {
	width: 50%;

}

.panel-left {
	text-align: right;
}

.logo {
	height: 100px;
}

.dot {
	position: absolute;

}

.dot-left {
	left: 0;
	bottom: 100px;
		width: 60px;
	height: 120px;
}

.dot-right {
	top: 0;
	right: 100px;
		width: 300px;
	height: 130px;
}